<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fahr">

    <application
        android:allowBackup="true"
        android:label="Fahro"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Onboarding is the first screen -->
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main application with bottom navigation -->
        <activity
            android:name=".ui.main.MainActivity" />
    </application>
</manifest>
